#splash .bg {
  z-index: -1;
  background-size: cover;
  filter: drop-shadow(4px 4px 10px blue) blur(3px);
}

#splash #branding h2,
#splash #branding p {
  mix-blend-mode: luminosity;
}

#splash #branding {
  max-width: 80%;
}

@media (min-width: 768px) {
  #splash #branding {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  #splash #branding {
    max-width: 768px;
  }
}
