<div class="splash">
  <div class="splash-bg"></div>

  <div class="branding">
    <img
      src="../../assets/img/sohomuse-text-logo-transparent-name.png"
      alt=""
    />
  </div>

  <div class="content">
    <h1>Book World-Class Talent</h1>

    <p>
      Premium members get access to a world-class talent pool of professional
      talent for your next project. Our talent has won academy awards, grammy's
      and more.
    </p>

    <button
      [ngx-scroll-to]="premiumPlansRef"
      [ngx-scroll-to-offset]="-400"
      class="btn btn-primary"
    >
      Let's Start
    </button>
  </div>
</div>

<div class="premium-features">
  <h1 class="title">Premium Features</h1>

  <div class="features">
    <div class="feature">
      <img src="../../assets/svg/leakage.svg" alt="leakage" />
      <div>
        <h2 class="feature--title">
          Paywall Management
        </h2>
        <p class="feature--text">
          Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
          similique ne nec, eius eruditi
        </p>
      </div>
    </div>
    <div class="feature">
      <img src="../../assets/svg/actor.svg" alt="actor" />
      <div>
        <h2 class="feature--title">
          World-Class
          <br />
          Awarded Talents
        </h2>
        <p class="feature--text">
          Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
          similique ne nec, eius eruditi
        </p>
      </div>
    </div>
    <div class="feature">
      <img src="../../assets/svg/wallet-4.svg" alt="wallet" />
      <div>
        <h2 class="feature--title">
          Monetization of Content
        </h2>
        <p class="feature--text">
          Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
          similique ne nec, eius eruditi
        </p>
      </div>
    </div>
    <div class="feature">
      <img src="../../assets/svg/wallet-4.svg" alt="wallet" />
      <div>
        <h2 class="feature--title">
          E-Wallet
        </h2>
        <p class="feature--text">
          Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
          similique ne nec, eius eruditi
        </p>
      </div>
    </div>
  </div>

  <div class="premium-plan">
    <div class="content">
      <h2>Select Your Plan</h2>

      <section class="plans">
        <div class="card">
          <div class="card-content">
            <div class="card-title">
              <span class="currency">$</span>
              <span class="value">9.99</span>
            </div>
            <h6 class="card-subtitle">per month</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
              similique ne nec, eius eruditi fierent
            </p>
            <a href="#linkToStripe" class="btn btn-primary">Select Plan</a>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-title">
              <span class="currency">$</span>
              <span class="value">99.99</span>
            </div>
            <h6 class="card-subtitle">per year</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
              similique ne nec, eius eruditi fierent
            </p>
            <a href="#linkToStripe" class="btn btn-primary">Select Plan</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="quote" #premiumPlansRef>
  <div class="content">
    <div class="title">What Our Premium Customers Say</div>
    <p class="quote--text">
      Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam similique
      ne nec, eius eruditi fierent est no. Ius illud laudem torquatos cu, ex vix
      nobis splendide theophrastus. Vel id putent habemus, in expetenda
      reprimique usu. Ius dicta utinam principes eu, an pro semper labitur
      delicata. Nostro fierent vel ea, te eros delectus per
    </p>
    <p class="quote--author">Tony Soprano</p>
  </div>
</div>

<div class="still-thinking">
  <div class="content">
    <div class="title">Still Thinking?</div>
    <p>
      Don't waste your time - Get
      <span
        [ngx-scroll-to]="premiumPlansRef"
        [ngx-scroll-to-offset]="-400"
        class="text-primary"
      >
        Premium!
      </span>
    </p>

    <button
      [ngx-scroll-to]="premiumPlansRef"
      [ngx-scroll-to-offset]="-400"
      class="btn btn-primary"
    >
      Start Right Now
    </button>
  </div>
</div>

<div class="footer">
  <img src="../../assets/img/sohomuse-text-logo-transparent-name.png" alt="" />

  <p>All Right Reserved</p>
</div>
