<div class="splash">
  <div class="splash-bg"></div>

  <a [routerLink]="['/']" class="branding">
    <img
      src="../../assets/img/sohomuse-text-logo-transparent-name.png"
      alt=""
    />
  </a>

  <div class="content">
    <h1>Book World-Class Talent</h1>

    <p>
      Premium members get access to a world-class talent pool of professional
      talent for your next project. Our talent has won academy awards, grammy's
      and more.
    </p>

    <button class="btn btn-primary">Let's Start</button>
  </div>
</div>

<div class="premium-features">
  <h1 class="title">Premium Features</h1>

  <div class="features">
    <div class="feature">
      <img src="../../assets/svg/leakage.svg" alt="leakage" />
      <div>
        <h2 class="feature--title">
          Paywall Management
        </h2>
        <p class="feature--text">
          Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
          similique ne nec, eius eruditi
        </p>
      </div>
    </div>
    <div class="feature">
      <img src="../../assets/svg/actor.svg" alt="actor" />
      <div>
        <h2 class="feature--title">
          World-Class
          <br />
          Awarded Talents
        </h2>
        <p class="feature--text">
          Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
          similique ne nec, eius eruditi
        </p>
      </div>
    </div>
    <div class="feature">
      <img src="../../assets/svg/wallet-4.svg" alt="wallet" />
      <div>
        <h2 class="feature--title">
          Monetization of Content
        </h2>
        <p class="feature--text">
          Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
          similique ne nec, eius eruditi
        </p>
      </div>
    </div>
    <div class="feature">
      <img src="../../assets/svg/wallet-4.svg" alt="wallet" />
      <div>
        <h2 class="feature--title">
          E-Wallet
        </h2>
        <p class="feature--text">
          Lorem ipsum dolor sit amet, augue delectus cum ne, mazim numquam
          similique ne nec, eius eruditi
        </p>
      </div>
    </div>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="group-19"
    width="167"
    height="181"
    viewBox="0 0 167 181"
  >
    <g fill="#FFF" fill-rule="evenodd" opacity=".031">
      <path
        d="M4.37 60.894l31.196-18.107a8 8 0 0 1 10.953 2.935l18.032 31.4a8 8 0 0 1-2.921 10.903l-31.196 18.108a8 8 0 0 1-10.953-2.935l-18.032-31.4A8 8 0 0 1 4.37 60.893zM81.37 38.776l64.104-37.209a8 8 0 0 1 10.954 2.935l37.032 64.486a8 8 0 0 1-2.922 10.903l-64.104 37.21a8 8 0 0 1-10.953-2.936L78.449 49.68a8 8 0 0 1 2.921-10.903zM53.37 151.378l13.875-8.053A8 8 0 0 1 78.2 146.26l8.032 13.986a8 8 0 0 1-2.922 10.903l-13.875 8.054a8 8 0 0 1-10.953-2.935l-8.032-13.987a8 8 0 0 1 2.921-10.903z"
      />
    </g>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="group-18-copy-2"
    width="189"
    height="283"
    viewBox="0 0 189 283"
  >
    <g fill="#FFF" fill-rule="evenodd" opacity=".031">
      <path
        d="M4.39 193.373l73.636-42.81a8 8 0 0 1 10.961 2.937l42.542 74.198a8 8 0 0 1-2.92 10.895l-73.635 42.81a8 8 0 0 1-10.961-2.937L1.47 204.269a8 8 0 0 1 2.92-10.896zM127.39 107.277l31.201-18.139a8 8 0 0 1 10.961 2.937l18.042 31.467a8 8 0 0 1-2.92 10.895l-31.2 18.14a8 8 0 0 1-10.961-2.938l-18.042-31.466a8 8 0 0 1 2.92-10.896zM51.05 9.26l13.88-8.07a8 8 0 0 1 10.962 2.937l8.041 14.025a8 8 0 0 1-2.919 10.895l-13.88 8.07a8 8 0 0 1-10.961-2.937L48.13 20.155a8 8 0 0 1 2.92-10.896z"
      />
    </g>
  </svg>
</div>

<div class="quote"></div>

<div class="footer">
  <img src="../../assets/img/sohomuse-text-logo-transparent-name.png" alt="" />

  <p>All Right Reserved</p>
</div>
